
*{
    margin: 0;
    padding: 0;
    color:white
}

body{
    height:100vh
}


.navbar-brand{
    margin-left: 60px;
    font-size: 50px;
}

.navbar-brand:hover{
    color:white
}

#icons{
    margin-right: 60px;
}

.img-header{
    width: 30px;
    height: 30px;
    margin:10px;
    opacity: 0.7;
    cursor: pointer;
}

.img-header:hover{
    opacity: 1;
}

a{
    font-size:25px;
    margin-left:10px;
    font-family: font;
}

nav{
    background-color:rgba(0, 0, 0, 0.95);
    height:84px;
}

.navbar .navbar-nav .nav-link{
    color:rgb(186, 186, 186);
    opacity:0.9
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color:rgb(233 224 162);
    cursor: pointer;
    text-shadow: 1px 1px 10px rgb(93, 93, 93);
    opacity:1
}


