  <nav class="navbar navbar-expand-lg d-flex align-items-start pt-2 sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Fashion Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 40px;outline: none;">
          <img src="assets/icos/list.png" style="width: 40px;height: 40px;outline: none;">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex w-100 justify-content-center">
            <li class="nav-item">
              <a class="nav-cat" class="nav-link p-2 p-lg-3" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-cat" class="nav-link p-2 p-lg-3" routerLink="/product">Shop</a>
            </li>
            <li class="nav-item" >
              <a href="#about" class="nav-cat" class="nav-link p-2 p-lg-3" aria-current="page" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-cat" class="nav-link p-2 p-lg-3" aria-current="page" routerLink="/contact">Contact</a>
            </li>
          </ul>
          <form id="icons" class="d-flex" role="search">
            <img class="img-header" src="assets/icos/search.png">
            <img class="img-header" src="assets/icos/grocery-store.png">
            <img class="img-header" src="assets/icos/add-to-favorites.png">
          </form>
        </div>
      </div>
  </nav>
  

