*{
    color: rgba(215, 215, 215, 0.705);
    font-family:footer ;
    cursor: pointer;

}

footer{
    background-color: rgb(26, 26, 26);
}

#social img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#social img:hover {
    transform:rotate(-20deg);
    scale:1.05
}

#pay img{
    width: 80px;
    height: 80px;
    margin-left:30px;
}

#h1,#h2,#h3,#h4{
    font-size: 30px;
    color:white;
}

p:hover {
    color:rgb(228, 222, 176);
}