<footer>
    <div class="container">
        <div class="row" style="padding-top:38px">
            <div class="col-6 col-md-3">
                <p id="h1" class="mb-4">CATEGORIES</p>
                <p>Woman</p>
                <p>Man</p>
                <p>Shoes</p>
                <p>Watches</p>
            </div>
            <div class="col-6 col-md-3">
                <p id="h2" class="mb-4">HELP</p>
                <p>Track Order</p>
                <p>Returns</p>
                <p>Shipping</p>
                <p>FAQs</p>
            </div>
            <div class="col-6 col-md-3">
                <p id="h3" class="mb-4">GET IN TOUCH</p>
                <p>Any questions? Let us know in store at Egypt, Cairo, call us on (+02) 010-50180934</p>
                <div id="social" class="d-flex align-start" style="gap:10px">
                    <img src="assets/icos/facebook.png">
                    <img src="assets/icos/instagram.png">
                    <img src="assets/icos/pinterest.png">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <p id="h4" class="mb-4">NEWSLETTER</p>
                <input type="text" class="form-control" placeholder="email@example.com" aria-label="Email" >
                <div class="btn btn-success border rounded-pill mt-3">SUBSCRIBE</div>
            </div>
        </div>
        <div class="row flex-column text-center">
            <div id="pay" class="col-12" >
                <img src="assets/icos/visa.png">
                <img src="assets/icos/paypal.png">
            </div>
            <div class="col-12">
                <p>Copyright ©2023 All rights reserved | Hussein Aya Asmaa</p>
            </div>
        </div>
    </div>
</footer>
