<div class="container">
    <div class="row">
            <div id="card1" class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <div  class="d-flex flex-row align-items-start">
                    <div>
                        <span>Woman</span><br>
                        <span>Spring 2022</span>
                    </div>
                    <img  src="assets/imgs/woman.png" >
                </div>
            </div>

            <div id="card2" class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <div  class="d-flex flex-row align-items-start">
                    <div>
                        <span>Men</span><br>
                        <span>Winter 2021</span>
                    </div>
                    <img  src="assets/imgs/men.png" style="padding-right: 25px;padding-bottom: 1px;">
                </div>
            </div>

            <div id="card3" class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <div  class="d-flex flex-row align-items-start">
                    <div>
                        <span>Accessory</span><br>
                        <span style="padding-top: 7px">Summer 2023</span>
                    </div>
                    <img   src="assets/imgs/cap.png" >
                </div>
            </div>
    </div>
</div>
