h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family:footer
}

#btns{
    display: flex;
    justify-content: end;
    gap:20px;
    font-family: footer;
}

#catego{
    display:flex;
    font-size: 18px;
    opacity:0.8;
    font-family: footer;
    margin-bottom: 10px;
}

.cat {
    border:0px ;
    background-color: white;
    color:rgba(0, 0, 0, 0.736);
    opacity: .8;
}

.cat.active,
.cat:hover,
.cat:focus{
    color:black;
    opacity: 1;
}

#ico{
    width: 25px;
    height: 25px;
}

#prodcImg{
    width: 305px;
    height: 395px;
}

#prodcImg:hover{
    animation: scale 1s linear;
}


#loadBtn{
    /* width:200px; */
    height:50px;
    border-radius: 30px;
    border:0px;
    font-size: 13px;
    font-family: footer;
    padding: 0 60px 0 60px;
    margin-bottom: 100px;
}

#loadBtn:hover{
    color:white;
    background-color: black
}


@keyframes scale {
    0%{scale:1}
    /* 25%{scale:1.03} */
    50%{scale:1.05}
    /* 75%{scale:1.08} */
    100%{scale:1}
}



#producTitle{
    color:rgba(0, 0, 0, 0.557);
    margin-bottom: 0;
    font-size: 20px;
    font-family: footer;
}

#producTitle:hover{
    color:rgb(60, 67, 185);
    cursor: pointer;
}

#price{
    color:rgba(0, 0, 0, 0.924);
    font-family: header;
    font-size: 16px;
}

@media (max-width:1400px){
    #prodcImg{
        width: 270px;
        height: 450px;
        margin-left:5px;
        margin-right:5px;
    }
}

@media (max-width:1200px){
    #prodcImg{
        width: 220px;
        height: 400px;
        margin-left:5px;
        margin-right:5px;
    }
}

@media (max-width:768px){
    #prodcImg{
        width: 250px;
        height: 400px;
        margin-left:5px;
        margin-right:5px;
    }
}

@media (max-width:576px){
    #prodcImg{
        width: 410px;
        height: 550px;
    }
    #catego{
        font-size: 17px;
    }
}