
<div class="container">
    <div class="row">
        <div class="col">
            <h1>PRODUCTS OVERVIEW</h1>
        </div>
    </div>
    <div class="row" style="display: flex; margin-bottom: 100px">
        <div id="category" class="col-12 col-md-12 col-lg-6">
            <button class="cat">All Products</button>
            <button class="cat">Woman</button>
            <button class="cat">Men</button>
            <button class="cat">Bag</button>
            <button class="cat">Shoes</button>
            <button class="cat">Watches</button>
        </div>
        <div id="btns" class="col-12 col-md-12 col-lg-6">
            <div id="searchBtn" class="btn btn-primary">Search</div>
            <div id="filterBtn" class="btn btn-warning">Filter</div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row d-flex " style="gap: 0px;">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column align-items-center" *ngFor="let p of products">
            <div class=" d-flex justify-content-center">
                <div id="photo" style="justify-self: center;">
                    <img id="productImg" src="{{p.image}}"/>
                    <button id="quickBtn">Quick View</button>
                </div>
            </div>
            <div>
                <div id="priceCont" class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column w-50">
                        <p id="producTitle" class="col-5">{{p.title}}</p>
                        <p id="price">{{p.price}}</p>
                    </div>
                    <img class="col-5" id="ico" src="assets/icos/heart.png" />
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="container" style="margin-bottom: 100px;">
    <div id="products" class="row d-flex flex-row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 "  *ngFor="let p of products">
            <div id="photo">
                <img id="productImg" src="{{p.image}}"/>
                <button id="quickBtn">Quick View</button>
            </div>
            <div>
                <div class="d-flex flex-row justify-content-between mt-2">
                    <div>
                        <p id="producTitle">{{p.title}}</p>
                        <p id="price">{{p.price}}</p>
                    </div>
                    <img id="ico" src="assets/icos/heart.png" />
                </div>
            </div>
            
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button id="loadBtn">LOAD MORE</button>
        </div>
    </div>
</div>