<!-- <div class="conteiner">
</div> -->

<h1>PRODUCT OVERVIEW</h1>


<div class="conteiner">
        <div class="row" style="display: flex;margin-bottom: 100px;">
            <div id="catego" class="col-12 col-md-6" >
                <span>All Products</span>
                <span>Woman</span>
                <span>Men</span>
                <span>Bag</span>
                <span>Shoes</span>
                <span>Watches</span>
            </div>
            <div id="btns" class="col-12 col-md-6" >
                <div id="searchBtn" class="btn btn-primary">Search</div>
                <div id="filterBtn" class="btn btn-warning">Filter</div>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex flex-row justify-content-evenly gap-5"> 
            <div class="col-12 col-s-6 col-md-4 col-lg-3 p-b-30 m-lr-auto mb-3">
                <div style="display: flex;justify-content: start;">
                </div>
            </div>
        </div> 
    </div>
</div>
