h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family:footer
}

#btns{
    display: flex;
    justify-content: end;
    gap:20px;
    font-family: footer;
}

#category{
    display:flex;
    font-size: 18px;
    opacity:0.8;
    font-family: footer;
    margin-bottom: 10px;
}

.cat {
    border:0px ;
    background-color: white;
    color:rgba(0, 0, 0, 0.736);
    opacity: .8;
}

.cat.active,
.cat:hover,
.cat:focus{
    color:black;
    opacity: 1;
}

#ico{
    width: 25px;
    height: 25px;
}

#photo{
    width: 300px;
    height: 395px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#productImg{
    width: 100%;
    height: 395px;
    scale:1;
    transition: scale 1s;
    position: absolute;
}

#productImg:hover{
    scale:1.1;
}

#photo:hover > #quickBtn {
    margin-top: 330px;
}

/* Load button */
#loadBtn{
    height:50px;
    border-radius: 30px;
    border:0px;
    font-size: 13px;
    font-family: footer;
    padding: 0 60px 0 60px;
    margin-bottom: 100px;
}

#loadBtn:hover{
    color:white;
    background-color: black
}



#quickBtn{
    width: 140px;
    height: 42px;
    border-radius: 32px;
    margin-left: 85px;
    position: absolute;
    z-index:1;
    margin-top: 440px;
    transition: all 0.5s;
    background-color:white;
    border:1px solid rgba(255, 255, 255, 0);
    font-family:footer
}

#quickBtn:hover{
    color:white;
    background-color: black;
    border:0px solid rgba(255, 255, 255, 0);
    scale:1.1
}

#producTitle{
    color:rgba(0, 0, 0, 0.557);
    margin-bottom: 0;
    font-size: 20px;
    font-family: footer;
}

#producTitle:hover{
    color:rgb(60, 67, 185);
    cursor: pointer;
}

#price{
    color:rgba(0, 0, 0, 0.924);
    font-family: header;
    font-size: 16px;
}

#priceCont{
    gap:200px
}

@media (min-width:1200px) and (max-width:1400px) {
    #photo{
        width: 260px;
        height: 365px;
    }
    #priceCont{
        gap:170px
    }
    #photo:hover > #quickBtn {
        margin-top: 300px;
    }
    #quickBtn{
        margin-left: 65px;
    }
}







