<div style="background-color:antiquewhite">
    <div class="container">
        <div id="scroller" class="row">
            <div class="col" style="display: flex;flex-direction:column;justify-content: center">
                <p class="header">Men Collection 2023</p>
                <p class="para">NEW ARRIVALS</p>
                <button class="btn">SHOP NOW</button>
            </div>
            <div class="col">
                <div class="landing">
                    <img src="assets/imgs/bg1.png">
                </div>
            </div>
        </div>
    </div>
</div>

<app-category/>



